<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= error.status %> - <%= error.message %></title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body class="<%= theme === 'dark' ? 'dark-mode' : '' %>">
    <%- include('partials/header') %>
    <div class="auth-section">
      <div class="auth-card enhanced">
        <a href="/">
          <img src="/images/error.png" alt="Movie Sizzling Logo" />
        </a>
        <h2 class="auth-title">
          <%= error.status %> - Oopss! <%= error.message %>
        </h2>
        <% if (typeof friendlyMessage !== 'undefined') { %>
        <p style="margin-top: 10px; font-size: 15px; color: var(--text-color)">
          <%= friendlyMessage %>
        </p>
        <% } %>

        <a
          href="/"
          class="btn-primary"
          style="display: inline-block; margin-top: 20px"
        >
          Back to Home
        </a>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
